<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Card Generate</title>
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/tooplate-wave-cafe.css">
<!--
Tooplate 2121 Wave Cafe
https://www.tooplate.com/view/2121-wave-cafe


-->


<div class="tm-site-header">
  <i class="fas fa-coffee fa-3x tm-site-logo"></i>
  <h1 class="tm-site-name">Sample 3 Card</h1>
</div>

<form class="ui form" action="/sample3card" method="post">
  <div class="field">
<div class="card" style="width: 18rem;">
<div class="card-body">
<h6 class="card-title">Fill required Details and submin</h6>
<label>Groom(दूल्हा)</label>
  <input type="text" name="mobile" class="form-control" placeholder="Enter name..."><br>
  <label>Bride (दुल्हन)</label>
  <input type="text" name="pa" class="form-control" placeholder="Enter name..."><br>
  <label>Weddind Day</label>
  <input type="text" name="pn" class="form-control" placeholder="eg. SUNDAY"><br>
  <label>Wsdding Date</label>
  <input type="text" name="am" class="form-control" placeholder="eg. August 12 2024"><br>
  <label>Wsdding Palace</label>
  <input type="text" name="tr" class="form-control" placeholder="eg. THE WHITE PALACE"><br>
  <label>Palace Address:</label>
  <input type="text" name="tn" class="form-control" placeholder="Enter Transaction Note..."><br>
  <button  class="btn btn-primary" type="submit">Generate Card</button>
</form>
  <!-- Background video -->
</body>
</html>